/* Loader #1 by Sam Lillicrap
   https://www.samueljwebdesign.co.uk
   https://codepen.io/samueljweb/pen/LbGxi
*/

//Variables to customise the stick loader!

/* change font size to change size */





/* W3.CSS 4.04 Apr 2017 by Jan Egil and Borge Refsnes */
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
  height: 100%;
  line-height: 1.8;
  //background-color: blanchedalmond;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url('/src/assets/mac.jpg');
  min-height: 100%;
}
.w3-bar .w3-button {
  padding: 16px;
}





