<!--<ul class="list-group">-->
    <!--<li *ngIf="feature_data.data.domain_rank" class="list-group-item"><span>Domain Rank:</span>-->
        <!--<span style="text-align: right">{{feature_data.data.domain_rank}}</span></li>-->
    <!--<li class="list-group-item"><span>Spam Score:</span>-->
        <!--<span style="text-align: right">{{feature_data.data.spam_score}}</span></li>-->
    <!--<li *ngIf="feature_data.data.performance_score" class="list-group-item"><span>Performance:</span>-->
        <!--<span style="text-align: right">{{feature_data.data.performance_score}}</span></li>-->
    <!--<li *ngIf="feature_data.data.site_categories[0]" class="list-group-item">Category:-->
        <!--<ul>-->
            <!--<li *ngFor="let c of feature_data.data.site_categories']" class="list-group-item">{{c}}</li>-->
        <!--</ul>-->
    <!--</li>-->

<!--</ul>-->