<!--<ul>-->
  <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-form-field>&ndash;&gt;-->
      <!--&lt;!&ndash;<input mdInput [(ngModel)]="name"  style="color: black" placeholder="What's your name?">&ndash;&gt;-->
    <!--&lt;!&ndash;</md-form-field>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--<li>-->
    <button md-raised-button color="warn" (click)=" openDialog()">Add new email?</button>
  <!--</li>-->
  <!--<li *ngIf="comm_email">-->
    <!--You chose: <i>{{comm_email}}</i>-->
  <!--</li>-->
<!--</ul>-->
