<div class="page-content">
  <section class="card">
<div class="card-block">
  <h5 class="with-border">Settings</h5>


  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <md-form-field class="full-width">
              <input mdInput placeholder="First Name" value="Sushi">
            </md-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <md-form-field class="full-width">
            <input mdInput placeholder="Last Name" value="Sushi">
          </md-form-field>
        </div>

        <div class="col-md-4 col-md-offset-2">
          <div class="form-group">
            <md-form-field>
              <input mdInput placeholder="Favorite food" value="Sushi">
            </md-form-field>
          </div>
        </div>

        <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <md-form-field>
          <textarea mdInput placeholder="Brand Description" cols="5"></textarea>
        </md-form-field>
      </div>
    </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="gallery-col">
        <article class="gallery-item" style="height: 158px;">
          <img class="" src="../../assets/img/gall-img-2.jpg" alt="" height="158">
          <div class="gallery-hover-layout">
            <div class="gallery-hover-layout-in">
              <p class="gallery-item-title">The boxed castle</p>
              <p>by Alban Wamigo</p>
              <div class="btn-group">
                <button type="button" class="btn">
                  <i class="font-icon font-icon-ok"></i>
                </button>
                <button type="button" class="btn">
                  <i class="font-icon font-icon-del"></i>
                </button>
              </div>
              <p>3 days ago</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
</section>
</div>